#nav-tab-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#nav-tab-container{
    width: 100%;
    max-width: 960px;

    display: flex;
    padding: 2rem 0;
}
.nav-tab-item-container{
    display: flex;
    padding: 12px;

    min-width: 250px;
    width: 250px;
}
.nav-tab-item{
    border-radius: 6px;
    flex: 1;
    background: var(--content);
    transition: all .2s ease-in-out;
    padding: 1rem;
    &:hover{
        background: var(--content-hovered);
    }
    &:active{
        background: var(--content-lightness);
    }
    p{
        padding-top: 5rem;
        color: var(--color);
    }
}