// ================ NAV

#nav-wrapper{
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 2px 12px 3px #f1f1f1;
}
#nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 960px;
    padding: 12px 2rem;
    img{
        border-radius: 12px;
    }
}
#nav-icons-wrapper{
    display: flex;
    align-items: center;
    font-size: 1.8em;
    *{
        color: rgba(0,0,0,.7);
        transition: all .3s ease-in-out;
        margin: 3px;
        will-change: opacity, transform;
        &:hover{
            opacity: 0.8;
        }
    }
    p{
        font-size: 0.5em;
        color: rgba(0,0,0,.5);
        margin-right: 12px;
    }
}


// ================== PALETTE CARD WRAPPER

#palette-wrapper{
    display: flex;
    justify-content: center;
}
#palette-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1450px;
    padding: 2rem 0.6rem;
    flex: 1;
}
.p-item-container{
    margin: 8px;

    box-shadow: 1px 2px 12px 3px #f1f1f1;
    border-radius: 6px;
    
    overflow: hidden;
    width: 100%;

    max-width: 300px;
    min-height: 30px;
    
    width: 100%;
    width: 100%;
}
.p-item{
    display: flex;
    align-items: flex-end;
    
    padding: 12px;
    padding-top: 4rem;
    
    cursor: pointer;

    p{
        will-change: opacity, visibility;
        opacity: 0;
        visibility: hidden;

        transition: all .3s ease-in-out;

        padding: 4px 6px;
        background: rgba(0,0,0,.35);
        color: #f1f1f1;
        border-radius: 3px;

        width: 100%;
        max-width: 90px;
        text-align: center;

        text-transform: uppercase;
    }
    &:hover{
        p{
            opacity: 1;
            visibility: visible;
        }
    }
}
#c1{
    background: #6d5c55;
}

#c2{
    background: #a1d0a2;
}

#c3{
    background: #dfeecc;
}

#c4{
    background: #fdfaf7;
}

#c5{
    background: #f2e7de;
}
