// ================== PALETTE CARD WRAPPER

#palette-wrapper{
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}
#palette-container{
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    grid-gap: 1rem;
    
    max-width: 1450px;
    padding: 2rem 1rem;
}
.p-item-container{
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    
    overflow: hidden;
}
.p-item{
    display: flex;
    align-items: flex-end;
    
    padding: 12px;
    padding-top: 1.5rem;
    
    cursor: pointer;

    p{
        will-change: opacity, visibility;
        opacity: 0;
        visibility: hidden;

        transition: all .3s ease-in-out;

        padding: 4px 6px;
        background: rgba(0,0,0,.35);
        color: #f1f1f1;
        border-radius: 3px;

        text-align: center;

        font-size: 13px;

        text-transform: uppercase;
    }
    &:hover{
        p{
            opacity: 1;
            visibility: visible;
        }
    }
}
