#palette-wrapper{
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}
#palette-container{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
    grid-gap: 1rem;
    
    max-width: 1450px;
    padding: 2rem 1rem;
}