
.p-item-container{
    padding: 12px;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    
    overflow: hidden;
}
.p-item-colors-wrapper{
    border-radius: 6px;
    
    overflow: hidden;
}