#no-palette-wrapper{
    padding: 2rem 0.5rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img{
        width: 100%;
        max-width: 350px;
        margin-bottom: 2rem;
    }
    h1{
        font-size: 1.3em;
        padding: 0.3rem 0;
        color: var(--color-light);
    }
}

@media screen and (max-width: 720px){
    img{
        max-width: 200px;
        margin-bottom: 1rem;
    }
    h1{
        font-size: 1.1em;
    }
}