#interface-preview-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
    
    transition: all .3s ease-in-out;

    background: var(--content-lightness);

    display: flex;
    flex-direction: column;

    &.visible{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    &.hide{
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
    }

    overflow: auto;
    overscroll-behavior: contain;

    z-index: 7000;
}
.interface-preview-item{
    flex: 1;
}